*{
    margin: 0;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
}

.title-box{
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    background-color: #f5a623;
    padding: 10px;
    margin-bottom: 20px;
}

.recipe-container{
    background-color: white;
    margin: 10px 30px;
    padding: 20px;
    text-align: center;
}

.recipe-card{
    background-color: rgb(220, 220, 220);
    width: 30%;
    height: 450px;
    margin: 10px;
    padding: 10px;
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
}

hr{
    margin: 20px auto;
    width: 300px;
    text-align: center;
}

.image{
    margin: 10px;
}

.image img{
    height: 200px;
    width: auto;
}

.recipe-image{
    height: 300px;
    width: auto;
    margin: 10px;
}

.text{
    margin: 10px;
}

.title{
    font-size: 32px;
    margin-bottom: 10px;
    margin: 20px;
}

.description{
    text-align: justify;
}

.card-link{
    color: inherit;
    text-decoration: none;
}

.recipe-info .list{
    text-align: left;
    line-height: 130%;
}

ol > li::marker{
    font-weight: bold;
}

.button{
    background-color: white;
    text-align: center;
    font-size: 20px;
    width: 170px;
    margin: 10px auto;
    padding: 15px 10px;
}
